@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
	<div class="subpage active" id="home">
		<h4 class="center"><br>STRONA DOMOWA</h4>
		<h2 class="center">To jest projekt strony Michała Pamięta na&nbsp;przedmiot "Programowanie w&nbsp;Internecie"</h2>
		<hr>
		<h1 class="center" style="color: orange;">Wybierz zadanie z&nbsp;paska nawigacyjnego u&nbsp;góry strony.</h1><br/>
		<h3 class="center">DOSTĘPNE ZADANIA</h3>
		<ul style="list-style-type: none; list-style-position: inside; display: table; margin: 0 auto;">
			<li><h3>Zadanie 1 - Hello World</h3></li>
			<li><h3>Zadanie 2 - HTML + CSS</h3></li>
			<li><h3>Zadanie 3 - Gra JS</h3></li>
			<li><h3>Zadanie 4 - One Page + RWD</h3></li>
			<li><h3>Zadanie 5 - Kod po stronie serwera</h3></li>
		</ul>
	</div>


	<div class="subpage" id="helloworld">
		<h4 class="center"><br>ZADANIE 1 - Hello World</h4>
		<h2 class="center">Założenie hostingu i&nbsp;stworzenie pierwszej strony</h2>
		<hr>
		<h1 class="center">Hello World!</h1>
		<h3 class="center">Lorem Ipsum</h3>
	</div>
	
	<div class="subpage" id="html+css">		
		<h4 class="center"><br>ZADANIE 2 - HTML +&nbsp;CSS</h4>
		<h2 class="center">Dodanie zawartości na stronie i&nbsp;ostylowanie jej</h2>
		<hr>
		<div class="row">
			<p class="column">
				<img src="./images/sun.jpg" alt="Sun" class="float-left margin-right5">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus commodo nisl sed dignissim. Duis eleifend mi arcu, sit amet rhoncus orci interdum sed. Sed posuere iaculis arcu. Maecenas condimentum erat a ex varius suscipit. Etiam cursus et elit vel ornare. Aenean a ante dapibus, mollis sapien at, lobortis ligula. Pellentesque eros ligula, venenatis vitae erat eget, tincidunt varius mi. Curabitur nec mollis libero. Donec viverra scelerisque urna, nec dictum sem feugiat a.
				<br>Mauris aliquam vel magna quis tincidunt. Integer ac erat facilisis, tristique elit quis, lobortis ipsum. Nam dictum condimentum ante, ac interdum purus tincidunt rhoncus. Donec fermentum in orci sit amet interdum. Sed porta condimentum eleifend. Donec a pretium nunc, in commodo est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In volutpat ultrices enim, nec accumsan dui posuere quis. Duis at nulla non purus vehicula ultricies eget nec nibh. Curabitur risus enim, viverra tristique tempor at, hendrerit sed felis. Vivamus sit amet blandit lacus. Donec ipsum diam, porta nec mattis sit amet, volutpat et ligula.
			</p>
			<p class="column">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus commodo nisl sed dignissim. Duis eleifend mi arcu, sit amet rhoncus orci interdum sed. Sed posuere iaculis arcu. Maecenas condimentum erat a ex varius suscipit. Etiam cursus et elit vel ornare. Aenean a ante dapibus, mollis sapien at, lobortis ligula. Pellentesque eros ligula, venenatis vitae erat eget, tincidunt varius mi. Curabitur nec mollis libero. Donec viverra scelerisque urna, nec dictum sem feugiat a.
				<br>Mauris aliquam vel magna quis tincidunt. Integer ac erat facilisis, tristique elit quis, lobortis ipsum. Nam dictum condimentum ante, ac interdum purus tincidunt rhoncus. Donec fermentum in orci sit amet interdum. Sed porta condimentum eleifend. Donec a pretium nunc, in commodo est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In volutpat ultrices enim, nec accumsan dui posuere quis. Duis at nulla non purus vehicula ultricies eget nec nibh. Curabitur risus enim, viverra tristique tempor at, hendrerit sed felis. Vivamus sit amet blandit lacus. Donec ipsum diam, porta nec mattis sit amet, volutpat et ligula.
			</p>
		</div>
		<hr>
		<div class="row">
			<p class="column">
				Nunc rhoncus ut diam eu dictum. In ullamcorper, dolor vel imperdiet vestibulum, sapien diam mattis urna, a vestibulum felis mi ut metus. Maecenas feugiat venenatis commodo. Vivamus ut elit nec orci rhoncus iaculis in vitae elit. Aliquam a feugiat nisl. Ut sagittis libero nec diam vulputate, quis interdum orci aliquet. Sed vestibulum velit nibh, sed accumsan neque rutrum et. Morbi accumsan risus nisi, vel ullamcorper dui euismod accumsan. Nunc in augue auctor, mattis lectus molestie, luctus neque. In aliquam metus urna, ut volutpat purus luctus eu. Cras et erat sit amet arcu eleifend feugiat. Etiam ex augue, pellentesque in rhoncus vel, rutrum at quam. Vestibulum mattis, tortor nec vehicula efficitur, eros ex lacinia ligula, eget auctor ipsum felis a ante. Praesent id urna vitae ex rutrum ultricies. Mauris quis mi accumsan, sollicitudin odio in, malesuada tellus. Sed in elit quis felis consectetur vehicula in at risus.
				<br>In sed arcu blandit, suscipit nisi malesuada, ullamcorper massa. Vestibulum pulvinar nunc eu rutrum interdum. Cras lectus odio, porttitor ac lorem ut, tristique accumsan justo. Sed ut lorem dictum, aliquam eros et, commodo turpis. Vivamus blandit condimentum ipsum, vitae rhoncus ex ultrices quis. Aliquam faucibus est ut ligula pulvinar, facilisis imperdiet diam tempus. Sed eu sapien vitae lacus feugiat mattis.
			</p>
			<p class="column">
				<img src="./images/earth.jpg" alt="Earth" class="float-right margin-left5">
				Nunc rhoncus ut diam eu dictum. In ullamcorper, dolor vel imperdiet vestibulum, sapien diam mattis urna, a vestibulum felis mi ut metus. Maecenas feugiat venenatis commodo. Vivamus ut elit nec orci rhoncus iaculis in vitae elit. Aliquam a feugiat nisl. Ut sagittis libero nec diam vulputate, quis interdum orci aliquet. Sed vestibulum velit nibh, sed accumsan neque rutrum et. Morbi accumsan risus nisi, vel ullamcorper dui euismod accumsan. Nunc in augue auctor, mattis lectus molestie, luctus neque. In aliquam metus urna, ut volutpat purus luctus eu. Cras et erat sit amet arcu eleifend feugiat. Etiam ex augue, pellentesque in rhoncus vel, rutrum at quam. Vestibulum mattis, tortor nec vehicula efficitur, eros ex lacinia ligula, eget auctor ipsum felis a ante. Praesent id urna vitae ex rutrum ultricies. Mauris quis mi accumsan, sollicitudin odio in, malesuada tellus. Sed in elit quis felis consectetur vehicula in at risus.
				<br>In sed arcu blandit, suscipit nisi malesuada, ullamcorper massa. Vestibulum pulvinar nunc eu rutrum interdum. Cras lectus odio, porttitor ac lorem ut, tristique accumsan justo. Sed ut lorem dictum, aliquam eros et, commodo turpis. Vivamus blandit condimentum ipsum, vitae rhoncus ex ultrices quis. Aliquam faucibus est ut ligula pulvinar, facilisis imperdiet diam tempus. Sed eu sapien vitae lacus feugiat mattis.
			</p>
		</div>
		<hr>
		<div class="row">
			<p class="column">
				<img src="./images/moon.jpg" alt="Moon" class="float-left margin-right5">
				Integer eleifend mattis diam ultrices imperdiet. Sed egestas at neque quis imperdiet. Suspendisse nec lacus tellus. Maecenas eleifend, sapien vitae vehicula tincidunt, libero mauris gravida mauris, et egestas erat metus in arcu. Phasellus sit amet velit sed eros scelerisque eleifend nec a lacus. Suspendisse eget dui eu tellus finibus iaculis vel eget ipsum. Aliquam erat volutpat. Pellentesque convallis ac metus pretium hendrerit. Donec dictum tempor nulla eget facilisis.
				<br>Vestibulum fringilla, dui sed venenatis consequat, arcu massa aliquet ipsum, ut convallis felis felis ac ligula. Fusce at suscipit tellus. Quisque elit ligula, varius nec iaculis ac, fringilla sed dolor. Curabitur aliquam et enim sit amet tempus. Curabitur mattis ex faucibus posuere efficitur. Pellentesque molestie ultrices dui nec fringilla. Nulla fermentum tempor elit eu commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut auctor gravida erat at mattis. Sed sed gravida justo. Morbi imperdiet eros ex, nec vehicula nunc vestibulum rutrum. Proin id venenatis massa, eget commodo elit. Proin turpis justo, pretium ullamcorper orci ut, pharetra aliquet ligula.
			</p>
			<p class="column">
				Integer eleifend mattis diam ultrices imperdiet. Sed egestas at neque quis imperdiet. Suspendisse nec lacus tellus. Maecenas eleifend, sapien vitae vehicula tincidunt, libero mauris gravida mauris, et egestas erat metus in arcu. Phasellus sit amet velit sed eros scelerisque eleifend nec a lacus. Suspendisse eget dui eu tellus finibus iaculis vel eget ipsum. Aliquam erat volutpat. Pellentesque convallis ac metus pretium hendrerit. Donec dictum tempor nulla eget facilisis.
				<br>Vestibulum fringilla, dui sed venenatis consequat, arcu massa aliquet ipsum, ut convallis felis felis ac ligula. Fusce at suscipit tellus. Quisque elit ligula, varius nec iaculis ac, fringilla sed dolor. Curabitur aliquam et enim sit amet tempus. Curabitur mattis ex faucibus posuere efficitur. Pellentesque molestie ultrices dui nec fringilla. Nulla fermentum tempor elit eu commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut auctor gravida erat at mattis. Sed sed gravida justo. Morbi imperdiet eros ex, nec vehicula nunc vestibulum rutrum. Proin id venenatis massa, eget commodo elit. Proin turpis justo, pretium ullamcorper orci ut, pharetra aliquet ligula.
			</p>
		</div>
	</div>

	<div class="subpage" id="grajs">
		<h4 class="center"><br>ZADANIE 3 - Gra JS</h4>
		<h2 class="center">Gra w&nbsp;"Kółko i&nbsp;Krzyżyk"</h2>
		<hr>

		<div id="game-container">

			<p class="center">
				Gra zaczyna&nbsp;się od&nbsp;kliknięcia w&nbsp;dowolne pole na&nbsp;planszy.<br>
				Gracz pierwszy zawsze rozpoczyna grę z&nbsp;symbolem 'x', zaś drugi - 'o'.<br>
				<br>
				Gracze stawiają na przemian kółko i&nbsp;krzyżyk dążąc do&nbsp;zajęcia trzech pól w&nbsp;jednej linii.<br>
				Wygrywa ten z&nbsp;graczy, któremu jako pierwszemu uda ułożyć się trzy znaki w&nbsp;jednej linii <br>
				(uwlgędniając wszystkie możliwości tj. w&nbsp;pionie, w&nbsp;poziomie i&nbsp;na&nbsp;ukos). 
			</p>

			<div id="game-board">                      
				<div class="game-box" id="0"></div>                     
				<div class="game-box" id="1"></div>                        
				<div class="game-box" id="2"></div>                        
				<div class="game-box" id="3"></div>                        
				<div class="game-box" id="4"></div>                        
				<div class="game-box" id="5"></div>                        
				<div class="game-box" id="6"></div>                        
				<div class="game-box" id="7"></div>                        
				<div class="game-box" id="8"></div>                    
			</div>
			
			<button id="reset-game">Zresetuj grę</button>
			<button id="reset-stats">Zresetuj statystyki</button>
			
		  
		  <aside id="info">
			<div id="game-messages" class="whosnext">
				<h2 class="win-x">Wygrał gracz pierwszy!</h2>
				<h2 class="win-o">Wygrał gracz drugi!</h2>
				<h2 class="draw">REMIS!</h2>
				<h2 class="whosnext">Czyja tura?</h2>
			</div>
			<div id="turn">
				<span class="x">x - gracz pierwszy</span>
				<span class="o">o - gracz drugi</span>
				<span class="winner"></span>
			</div>
			
			<h2>Wyniki</h2>
			<div id="score">
				x - gracz 1: <span id="x-one">0</span> <br/>
				o - gracz 2: <span id="o-two">0</span> <br/>
			</div>
		  </aside>
		 </div>
		 <br>
	</div>
	
	<div class="subpage" id="onepage">
		<h4 class="center"><br>ZADANIE 4 - One Page +&nbsp;RWD</h4>
		<h2 class="center">Przebudowanie strony na&nbsp;One Page i&nbsp;dodanie responsynowści</h2>
		<hr>
	</div>

	<div class="subpage" id="mvc">
		<h4 class="center"><br>ZADANIE 5 - Kod po stronie serwera</h4>
		<h2 class="center">Przygotowanie strony zawierającej funkcjonalność zaimplementowaną po stronie serwera (niewidoczną dla użytkownika), zgodnie z wzorcem MVC.</h2>
		<hr>
		<!-- <h3 class="center"><a href="~/code.zip" download="Pamięta_Michał_196099.zip" class="repolink">Kliknij, aby pobrać folder zip z kodem aplikacji</a></h3> -->
		<h3 class="center"><a href="https://github.com/MichalPamieta/SGGW-PontI-My_Second_Website" class="repolink">Kliknij, aby wyświetlić kod źródłowy (GitHub)</a></h3>
		<hr>
		<div class="card mt-5 calculator">
			<h1 class="center fw-bold mt-5 text-dark">KALKULATOR</h1>
			<input id="ScreenInput" name="ScreenInput" class="calculator-screen" readonly/>
				<div class="calculator-btns">
					<button type="button" class="buttons btn bg-secondary btn-outline-secondary" value="7" onclick="addNumber(this.value)">7</button>       
					<button type="button" class="buttons btn bg-secondary btn-outline-secondary" value="8" onclick="addNumber(this.value)">8</button>                    
					<button type="button" class="buttons btn bg-secondary btn-outline-secondary" value="9" onclick="addNumber(this.value)">9</button>
					<button type="button" class="buttons btn bg-primary btn-outline-primary operation" value="/" onclick="addOperation(this.value)">&divide;</button>
					<button type="button" class="buttons btn bg-primary btn-outline-primary add-button operation" value="+" onclick="addOperation(this.value)">&plus;</button>

					<button type="button" class="buttons btn bg-secondary btn-outline-secondary" value="4" onclick="addNumber(this.value)">4</button>
					<button type="button" class="buttons btn bg-secondary btn-outline-secondary" value="5" onclick="addNumber(this.value)">5</button>
					<button type="button" class="buttons btn bg-secondary btn-outline-secondary" value="6" onclick="addNumber(this.value)">6</button>
					<button type="button" class="buttons btn bg-primary btn-outline-primary operation" value="-" onclick="addOperation(this.value)">&minus;</button>

					<button type="button" class="buttons btn bg-secondary btn-outline-secondary" value="1" onclick="addNumber(this.value)">1</button>
					<button type="button" class="buttons btn bg-secondary btn-outline-secondary" value="2" onclick="addNumber(this.value)">2</button>
					<button type="button" class="buttons btn bg-secondary btn-outline-secondary" value="3" onclick="addNumber(this.value)">3</button>
					<button type="button" class="buttons btn bg-primary btn-outline-primary operation" value="*" onclick="addOperation(this.value)">&times;</button>
					<button type="button" class="buttons btn bg-success btn-outline-success result-button operation" onclick="getResult();" data-calculator-result-url='@Url.Action("CalculatorResult", "Home")'>&equals;</button>

					<button type="button" class="buttons btn bg-secondary btn-outline-secondary zero-button" value="0" onclick="addNumber(this.value)">0</button>
					<button type="button" class="buttons btn bg-info btn-outline-info comma" value="." onclick="addNumber(this.value)">&comma;</button>
					<button type="button" class="buttons btn bg-danger btn-outline-danger clear-button" onclick="clearScreen()">C</button>
				</div>
		</div>
	</div>
	
</div>
